# Essential for build:
ug4py-base
# For UI
numpy
matplotlib
ipywidgets
# The following packages depend on vtk, which is not available on Linux arm64 via pip yet.
vtk
pyvista[all,trame]
jupyter-server-proxy
# opencv-python-headless
